
.env


node_modules/
backend/node_modules/
frontend/captcha-system/node_modules/



ml-service/data/*.xlsx
ml-service/data/*.csv


frontend/captcha-system/public/images/


__pycache__/
*.pyc


frontend/captcha-system/dist/


.DS_Store
Thumbs.db